[MD+SZ] LumiVittá (1).json
{
  "name": "[MD+SZ] LumiVittá",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api2.shotzap.com.br/webhook/17/7HTX0SxKE1zG5FCQPthyGhiNfGnHLhjyMYnM1EJmyj",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 1\\p|2~C7Aaav"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "NAME",
              "value": "={{ $json.body.FNAME }}"
            },
            {
              "name": "TAG",
              "value": "={{ $json.body.taginternals }}"
            },
            {
              "name": "PHONE",
              "value": "11959171072"
            },
            {
              "name": "TRACKNUMB",
              "value": "{{ $json.body.TRACKNUMB }}"
            },
            {
              "name": "E-MAIL",
              "value": "="
            }
          ]
        },
        "options": {}
      },
      "id": "371ced5f-1167-43e5-90ea-a587edc206fe",
      "name": "Enviar Trigger Pedido Recebido",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api2.shotzap.com.br/webhook/17/VljkrGuTGr7xOPXI5HOn35zX4SuyGHILEI2FCpXJ66",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 1\\p|2~C7Aaav"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "NAME",
              "value": "={{ $json.body.FNAME }}"
            },
            {
              "name": "TAG",
              "value": "={{ $json.body.taginternals }}"
            },
            {
              "name": "PHONE",
              "value": "11959171072"
            },
            {
              "name": "TRACKNUMB",
              "value": "={{ $json.body.TRACKNUMB }}"
            },
            {
              "name": "E-MAIL",
              "value": "="
            }
          ]
        },
        "options": {}
      },
      "id": "8a472af5-3b5f-48b5-b68f-0753c7d2872b",
      "name": "Enviar Trigger Pedido Pago",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api2.shotzap.com.br/webhook/17/S4wBVBwX8SzqSu6uT4jSPqS96lxChTQUBva20zA6iw",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 1\\p|2~C7Aaav"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "NAME",
              "value": "={{ $json.body.FNAME }}"
            },
            {
              "name": "TAG",
              "value": "={{ $json.body.taginternals }}"
            },
            {
              "name": "PHONE",
              "value": "={{ $json.body.phone }}"
            },
            {
              "name": "TRACKNUMB",
              "value": "11959171072"
            },
            {
              "name": "E-MAIL",
              "value": "="
            }
          ]
        },
        "options": {}
      },
      "id": "31741a0e-968a-418a-bd98-c97a35b01a0b",
      "name": "Enviar Trigger Pedido Cancelado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api2.shotzap.com.br/webhook/17/fhmUgjbZGpfduUQB3A30RECNynyaYqRefqZ4u2HiLh",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 1\\p|2~C7Aaav"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "NAME",
              "value": "={{ $item(\"0\").$node[\"Switch3\"].json[\"body\"][\"FNAME\"] }}"
            },
            {
              "name": "TAG",
              "value": "={{ $json.body.taginternals }}"
            },
            {
              "name": "PHONE",
              "value": "11959171072"
            },
            {
              "name": "E-MAIL",
              "value": "="
            },
            {
              "name": "URL Abondoned Checkout",
              "value": "={{ $item(\"0\").$node[\"Switch3\"].json[\"body\"][\"abandoned_checkout_url\"] }}"
            },
            {
              "name": "Product Abandoned Checkout",
              "value": "={{ $item(\"0\").$node[\"Switch3\"].json[\"body\"][\"NAME\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e3a296f7-d7b6-4d5a-a49b-60c1ab0bc2c3",
      "name": "Enviar Trigger Carrinho Abandonado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        608
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api2.shotzap.com.br/webhook/17/9LKnesaklvXiyQIeJLbAG2OeS7m8GA8VjnWpdfPPPe",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 4b6VH31S9cb'"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "NAME",
              "value": "={{ $json.body.FNAME }}"
            },
            {
              "name": "TAG",
              "value": "={{ $json.body.taginternals }}"
            },
            {
              "name": "PHONE",
              "value": "11959171072"
            },
            {
              "name": "TRACKNUMB",
              "value": "{{ $json.body.TRACKNUMB }}"
            },
            {
              "name": "E-MAIL",
              "value": "="
            }
          ]
        },
        "options": {}
      },
      "id": "f63940b2-a545-4b94-8a05-f427eca32ec6",
      "name": "Enviar Trigger Pedido Enviado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        448
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6a9716af-66af-45eb-ae84-dfbbfaef3041",
                    "leftValue": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"taginternals\"] }}",
                    "rightValue": "open,pending,unpacked",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "open"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5a0671c7-eeb5-431b-84ec-235914995375",
                    "leftValue": "={{ $json.body.taginternals }}",
                    "rightValue": "pending",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pending"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.taginternals }}",
                    "rightValue": "open,paid,unpacked",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "16ba1201-154d-45c5-b65a-44e8e132ad94"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "paid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a3f2d517-545d-4a4d-8af1-2a8064d7a119",
                    "leftValue": "={{ $json.body.taginternals }}",
                    "rightValue": "shipped",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "shipped"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "96bae482-142b-4bb0-80ab-6dcf1dbf7541",
                    "leftValue": "={{ $json.body.taginternals }}",
                    "rightValue": "refunded",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "refunded"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "aa85291a-f866-43b7-b629-f5c97df8bb3d",
                    "leftValue": "={{ $json.body.taginternals }}",
                    "rightValue": "delivered",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delivered"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3a765708-a8e8-4125-9b17-cb31230a1698",
                    "leftValue": "={{ $json.body.taginternals }}",
                    "rightValue": "abandonou.carrinho",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1abandonou.carrinho"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3b4f7df3-d367-452a-837b-ae03d160ebb7",
                    "leftValue": "={{ $json.body.taginternals }}",
                    "rightValue": "cancelled",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelled"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "59c2474f-98da-46e7-84c7-81817dba5148",
                    "leftValue": "={{ $json.body.taginternals }}",
                    "rightValue": "cancelled3",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "3cancelld"
            }
          ]
        },
        "options": {}
      },
      "id": "9e2cadee-062f-4e40-b38b-72c1a18e9865",
      "name": "Switch3",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -784,
        272
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "szlumivitta",
        "options": {}
      },
      "id": "7a2867cc-1ce0-4501-a3f4-857bdeb0c52f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1152,
        384
      ],
      "webhookId": "27e42324-a98a-4948-8313-ce385f58ae1c"
    },
    {
      "parameters": {
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 1\\p|2~C7Aaav"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "NAME",
              "value": "={{ $json.body.FNAME }}"
            },
            {
              "name": "TAG",
              "value": "={{ $json.body.taginternals }}"
            },
            {
              "name": "PHONE",
              "value": "11959171072"
            },
            {
              "name": "TRACKNUMB",
              "value": "={{ $json.body.TRACKNUMB }}"
            },
            {
              "name": "E-MAIL",
              "value": "="
            }
          ]
        },
        "options": {}
      },
      "id": "a4c28244-e502-467f-8ee6-90487f88cc61",
      "name": "Enviar Trigger Pedido Entregue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        976
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -304,
        384
      ],
      "id": "428ae13f-87d8-4efc-9796-d03442ac205b",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.shotzap.com.br",
            "content-length": "751",
            "accept": "*/*",
            "content-type": "application/x-www-form-urlencoded",
            "x-forwarded-for": "65.111.160.135",
            "x-forwarded-host": "webhook.shotzap.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "8ba803683279",
            "x-real-ip": "65.111.160.135",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "subscriber_uid": "6888e66be48d1",
            "ip_address": "162.241.203.47",
            "source": "integration",
            "status": "confirmed",
            "created_at": "2025-07-29T15:19:07.000000Z",
            "updated_at": "2025-07-29T15:19:07.000000Z",
            "date_confirmed": "2025-07-29 15:19:07",
            "taginternals": "open",
            "leadscore": "0",
            "list_uid": "632a2a7c54f96",
            "list_name": "Lista de Entrada2",
            "form_uid": "632a2a7c55f68",
            "form_name": "Formulário Padrão",
            "EMAIL": "vivianegoulart9@gmail.com",
            "email": "vivianegoulart9@gmail.com",
            "FNAME": "Selma",
            "fname": "Selma",
            "PHONE": "5511997873915",
            "phone": "5511997873915",
            "TRACKNUMB": "https://videiraverdadeira.com.br/checkout/v3/success/1757754409/af8ff91dd1257eca3e219ddb8c712d5d780311ca",
            "tracknumb": "https://videiraverdadeira.com.br/checkout/v3/success/1757754409/af8ff91dd1257eca3e219ddb8c712d5d780311ca"
          },
          "webhookUrl": "https://webhook.shotzap.com.br/webhook/videiraverdadeira",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Switch3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Enviar Trigger Pedido Enviado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0d7adcaf-5652-4de0-b90d-3c578d7cc583",
  "meta": {
    "instanceId": "c587a4266da3c002cba7246fb5a0ce41bb05c82135b89406cfb92061accaffa0"
  },
  "id": "SYvW55LWrE2noKvl",
  "tags": [
    {
      "updatedAt": "2026-03-26T05:55:51.105Z",
      "createdAt": "2026-03-26T05:55:51.105Z",
      "id": "a1000000-0000-0000-0000-000000000005",
      "name": "Clientes MD"
    },
    {
      "updatedAt": "2026-03-26T05:58:32.888Z",
      "createdAt": "2026-03-26T05:58:32.888Z",
      "id": "zz_semexec_001",
      "name": "🔴 Sem Execuções 30d"
    }
  ]
}